<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">In this portfolio I've listed some of my favorite projects that I've built through the years.
      These application captures a wide range of the applications that I love to develop.</p>
    <p>
      <%= link_to 'Find out more About Me', about_me_path,  class: 'btn btn-primary my-2' %>
      <%= link_to 'My Blogs', blogs_path,  class: 'btn btn-secondary' %>
    </p>
  </div>
</section>
