<h1>About Me</h1>
<hr>
<p>I am a software developer passionate about solving day to day problems using technology thereby having an improved state of life. I am a lifelong learner always excited about learning new stuff.</p>
<p>I love using my knowledge to build awesome products and tools which would benefit people of all ages and different interests with the aim of transforming lives for the better.</p>
<p>I endeavour to always deliver my work on time, on budget while having constant communication with a client to ensure delivery of the right product that is according to the client's specifications.</p>